gradio
scikit-learn
pandas
joblib
numpy
spacy==3.5.4
pydantic==1.10.12

# Prebuilt English NER model for spaCy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
